<~~ ~%timeStamp%~ - ~%fuzzyDuration%~ ~!Color,default!~~!Color,blue!~(~%context%~)  ~!Color,~%stateColour%~!~~%state%~~!Color,default!~  ~!Color,green!~~%name%~ (~!Color,default!~~%description%~~!Color,green!~)~!Color,default!~  -  ~%comment%~~!Color,default!~

~>
