<~~ ~%startTimeStamp%~ (~%start%~) ~!Color,brightBlack!~to ~!Color,default!~~%stopTimeStamp%~ (~%stop%~) = ~%duration%~ => ~!Color,yellow!~~%fuzzyDuration%~~!Color,default!~~!Color,brightBlack!~: ~!Color,green!~ ~%taskName%~~!Color,default!~~!Color,brightBlack!~, ~!Color,default!~~%who%~~!Color,brightBlack!~, ~!Color,green!~~%description%~ ~!Color,blue!~(~%context%~) ~!Color,brightBlack!~- ~%comment%~~!Color,default!~

~>  ~!Tmp,totalFuzzyTime!~ ~!Color,brightBlack!~(~!Tmp,totalTime!~ seconds)~!Color,default!~