<~~ ~%startTimeStamp%~~!Color,brightBlack!~: ~!Color,yellow!~~%who%~ ~!Color,brightBlack!~- ~!Color,green!~~%taskName%~~!Color,brightBlack!~, ~!Color,green!~~%description%~ ~!Color,blue!~(~%context%~) ~!Color,brightBlack!~- ~!Color,cyan!~~%fuzzyDuration%~~!Color,default!~

~>