<~~ ~%startTimeStamp%~~!Color,brightBlack!~: ~!Color,yellow!~~%who%~ ~!Color,brightBlack!~- ~!Color,green!~~%taskName%~~!Color,brightBlack!~, ~!Color,green!~~%description%~ ~!Color,blue!~(~%context%~) ~!Color,brightBlack!~- ~!Color,yellow!~~%fuzzyDuration%~~!Color,default!~ ~%comment%~~!Color,default!~

~>  ~!DoneIt,totalFuzzyTime!~ ~!Color,brightBlack!~(~!DoneIt,totalTime!~ seconds)~!Color,default!~