<~~ ~!Color,default!~~!Color,blue!~(~%context%~) ~!Color,default!~ ~!Color,default!~~%who%~  ~!Color,green!~~%description%~  ~!Color,default!~ ~%comment%~  ~!Color,yellow!~~%fuzzyDuration%~~!Color,default!~

~>  ~!DoneIt,totalFuzzyTime!~ ~!Color,brightBlack!~(~!DoneIt,totalTime!~ seconds)~!Color,default!~