<~~ ~!Color,default!~~!Color,blue!~(~%context%~)  ~%stateColourCode%~~%state%~~!Color,default!~  ~%priority%~~!Color,default!~  ~!Color,purple!~~%noteWorthy%~~!Color,default!~  ~!Color,green!~~%name%~ (~!Color,default!~~%description%~~!Color,green!~)~!Color,default!~  ~!Color,brightBlack!~-  ~!Color,default!~~%fuzzyDuration%~
  ~%comment%~~!Color,default!~

~>
